@model productCRUD.Models.Task

<h1><strong>Borrar Tarea</strong></h1>

<h4>¿Estás seguro de que deseas eliminar esta tarea?</h4>

<div class="mb-3">
    <label for="disabledTextInput" class="form-label"><strong>Titulo:</strong></label>
    <input type="text" id="disabledTextInput" class="form-control" placeholder="@Model.Title" disabled>
</div>
<div class="mb-3">
    <label for="disabledTextInput" class="form-label"><strong>Esta Completada:</strong></label>
    <input type="text" id="disabledTextInput" class="form-control" placeholder="@(Model.IsCompleted ? "Yes" : "No")" disabled>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <button class="btn btn-success" type="submit">Borrar</button>
    <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Cancelar</a>
</form>
