@model productCRUD.Models.Task

<h1><strong>Editar tarea</strong></h1>

<form asp-action="Edit" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />

    <div class="mb-3">
        <label for="Title" class="form-label">Titulo</label>
        <input class="form-control" type="text" id="Title" name="Title" value="@Model.Title" required />
    </div>
    <div class="mb-3 form-check">
        <label for="IsCompleted" class="form-check-label">Está completada?</label>
        <input type="checkbox" class="form-check-input" id="IsCompleted" name="IsCompleted" @(Model.IsCompleted ? "checked" : "") />
    </div>
    <button type="submit" class="btn btn-success" >Guardar cambios</button>
    <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Cancelar</a>
</form>
